// Buttons

.btn,
.button {
	display: inline-block;
	color: $primary;
	line-height: 1;
	font-weight: normal;
	padding: 1rem 1.5rem;
	border: 1px solid $primary;
	text-align: center;
    font-family: $font;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 3px;
    background: transparent;
    text-transform: uppercase;

	&:hover,
	&:focus {
		color: $primary-light;
		// background: $primary;
		border-color: $primary-light;
	}

	&.disabled {
		background: #888;
		color: #bbb;
	}
}

.btn-small {
	padding: 0.5rem 0.75rem;
	font-size: 0.8rem;
}

.btn-large {
	padding: 1.5rem;
	font-size: 1.4rem;
}

.btn-block {
	display: block;
	width: 100%;
}
