textarea,
input {
    outline: none;
    box-shadow: none;
}

textarea,
input[type=text],
input[type=email] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $offwhite;
    font-size: 0.8rem;

    &:hover {
        border-color: $secondary-light;
    }

    &:focus {
        border-color: $secondary;
    }
}

textarea {
    height: 150px;
    resize: none;
}

.personal-accept,
.personal-decline,
.guest-yes {
    display: none;
}

.rsvp-form {
    .description {
        margin-bottom: 1rem;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .attending-options,
    .guest-attending-options {
        input {
            display: none;
        }

        label:first-of-type span {
            margin-right: 1rem;
        }

        span {
            font-family: $font-special;
            font-size: 1.75rem;
            padding: 0.5rem 1rem;
            border: 1px solid $primary;
            color: $primary;
            cursor: pointer;
            opacity: 0.5;
            transition: 0.3s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        input:checked + span {
            opacity: 1;
            background: $primary;
            color: $white;
        }
    }
}
