textarea,
input {
    outline: none;
    box-shadow: none;
}

textarea,
input[type=text],
input[type=email] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #eeeeee;

    &:hover {
        border-color: $secondary-light;
    }

    &:focus {
        border-color: $secondary;
    }
}

textarea {
    height: 150px;
    resize: none;
}

.personal-accept,
.personal-decline,
.guest-yes {
    display: none;
}

.rsvp-form {
}
