// Headings

h1, h2, h3,
h4, h5, h6 {
    font-family: $font-thin;
    font-weight: normal;

    span {
        font-weight: bold;
    }
}


.heading {
    font-family: $font-special;
    font-size: 3rem;
    color: $primary;
    text-align: center;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 2rem;

    @media (min-width: $bp-s) {
        font-size: 5rem;
    }

    span {
        font-weight: bold;

        &.condense {
            font-weight: normal;
            letter-spacing: -8px;
        }
    }
}
