// Headings

h1, h2, h3,
h4, h5, h6 {
    font-family: $font-thin;
}


.heading {
    font-family: $font-special;
    font-size: 5rem;
    color: $primary;
    text-align: center;
    font-weight: normal;

    span {
        font-weight: bold;
    }
    // text-transform: uppercase;
}
