// Main

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $primary;
    min-width: $min-width;
}

a {
    text-decoration: none;
    color: $primary;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $primary-light;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    margin: 1rem auto;
    height: 1px;
    background: $primary-light;
}

img {
    max-width: 100%;
}

::selection {
    background: $primary;
    color: $white;
}

::-moz-selection {
    background: $primary;
    color: $white;
}

// Sections
.section {
    text-align: center;
    padding: 3rem 0;
}

.section--alt {
    background: $offwhite;
    background: $offwhite url(../img/bg/slanted-lines.png) repeat top left;
}

.section--dark,
.section--dark-secondary,
.section--light,
.section--light-secondary {
    color: $white;

    .heading {
        color: $white;
    }

    .btn {
        color: $white;
        border-color: $white;

        &:hover {
            color: $tan;
            border-color: $tan;
            background: transparent;
        }
    }
}

.section--dark {
    background: $primary url(../img/bg/criss-crosses.png) repeat top left;
}

.section--dark-secondary {
    background: $secondary;
}

.section--light {
    background: $primary-light url(../img/bg/criss-crosses.png) repeat top left;
}

.section--light-secondary {
    background: $secondary-light;
}

.section--overlay {
    position: relative;

    .container {
        position: relative;
        z-index: 1;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.25);
    }
}
.section--border {
    border-bottom: 5px solid $primary;
}

.section--hero {
    position: relative;
    background-image: url(../img/engagement-hipsters.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 800px;
    min-height: 100vh;
    color: $white;

    .centerer {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    h1,
    h2,
    h3 {
        line-height: 1.2;
        letter-spacing: 5px;
    }

    h1 {
        font-family: $font-special;
        font-size: 8rem;
        font-size: 10vw;
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    h2,
    h3 {
        font-size: 2rem;
        font-size: 3vw;
    }
}

.section--countdown {
    .countdown {
        .block {
            font-size: 5rem;
            color: $primary-light;
            line-height: 1;
            padding: 1rem 0;

            .number {
                position: relative;
                display: block;
                padding-bottom: 1rem;
                font-weight: bold;

                &:after {
                    $width: 30px;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: $width;
                    height: 1px;
                    background: $primary-light;
                    margin-left: -($width / 2);
                }
            }

            .suffix {
                display: block;
                font-size: 1.2rem;
                margin: 0 auto;
                padding-top: 1rem;
                text-transform: uppercase;
                color: $primary-light;
            }
        }
    }
}

.section--couple {
    .gi {
        text-align: center;
    }

    img {
        display: inline-block !important;
        border: 5px solid $primary;
        border-radius: 100%;

        @media (min-width: $bp-xs) {
            max-width: 300px;
        }
    }

    h4 {
        font-size: 2rem;
        font-weight: normal;

        span {
            display: block;
            color: $primary;
            font-size: 1.75rem;
            text-transform: uppercase;
        }
    }
}

.section--wedding-party {
    h4 {
        margin-top: 2rem;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    img {
        margin: 0 auto 1rem;
        border-radius: 100%;
    }

    .g {
        .gi {
            span {
                font-family: $font-special;
                font-size: 1.2rem;
            }

            &:first-of-type img,
            &.bordered img {
                border: 5px solid $secondary;
            }
        }
    }
}

.section--festivities,
.section--accommodations {
    img {
        margin: 0 auto;
        border-radius: 100%;
    }

    h4 {
        margin: 1.5rem 0 0.5rem;
        font-size: 1.2rem;
    }
}

.section--festivities {
    svg {
        height: 100px;
    }

    h4 {
        margin-bottom: 0;
    }

    .location {
        margin-bottom: 0.5rem;
    }
}

.section--image {
    position: relative;
    background-image: url(../img/engagement-field.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 400px;
    min-height: 50vh;
}

.section--registry {
    a {
        display: block;
        transform: translateY(0);
        transition: 0.3s ease-in-out;

        &:hover {
            transform: translateY(-10px);
        }
    }

    img {
        margin: 0 auto;
        max-height: 150px;
    }
}

.section--rsvp {

}
