// Main

*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $primary;
    min-width: $min-width;
}

a {
    text-decoration: none;
    color: $primary;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $primary-light;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    margin: 1rem auto;
    height: 1px;
    background: $primary;
}

img {
    max-width: 100%;
}

::selection {
    background: $white;
    color: $secondary;
}

::-moz-selection {
    background: $white;
    color: $secondary;
}

// Sections
.section {
    text-align: center;
    padding: 3rem 0;
}

.section--alt {
    background: $offwhite;
    background: $offwhite url(../img/bg/slanted-lines.png) repeat top left;
}


.section--dark,
.section--dark-secondary,
.section--light,
.section--light-secondary {
    color: $white;

    .heading {
        color: $white;
    }

    .btn {
        color: $white;
        border-color: $white;

        &:hover {
            color: $primary;
            border-color: $primary;
            background: transparent;
        }
    }
}

.section--dark {
    background: $primary url(../img/bg/criss-crosses.png) repeat top left;
}

.section--dark-secondary {
    background: $secondary;
}

.section--light {
    background: $primary-light url(../img/bg/criss-crosses.png) repeat top left;
}

.section--light-secondary {
    background: $secondary-light;
}

.section--border {
    border-bottom: 5px solid $primary;
}

.section--hero {
    background: url(../img/cover.jpg) no-repeat center center;
    background-size: cover;
    min-height: 800px;
    min-height: 100vh;
    color: $white;

    .centerer {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-size: 6rem;
        font-size: 8vw;
        line-height: 1;
        letter-spacing: 10px;
        text-transform: uppercase;

        span {
            font-weight: normal;
        }
    }

    h2 {
        font-size: 2.5rem;
        font-size: 3vw;
        font-weight: normal;
        color: $secondary-light;
    }
}

.section--countdown {
    .countdown {
        .block {
            font-size: 5rem;
            color: $primary-light;
            line-height: 1;
            padding: 1rem 0;

            .number {
                position: relative;
                display: block;
                padding-bottom: 1rem;
                font-weight: bold;

                &:after {
                    $width: 30px;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: $width;
                    height: 1px;
                    background: $primary-light;
                    margin-left: -($width / 2);
                }
            }

            .suffix {
                display: block;
                font-size: 1.2rem;
                margin: 0 auto;
                padding-top: 1rem;
                text-transform: uppercase;
                color: $primary-light;
            }
        }
    }
}

.section--couple {
    @media all and (min-width: $bp-s) {
        text-align: left;

        .gi:first-of-type {
            text-align: right;
        }
    }

    img {
        display: inline-block !important;
        border: 5px solid $primary;
        border-radius: 100%;
        max-width: 250px;
    }

    h4 {
        font-size: 2rem;
        font-weight: normal;

        span {
            display: block;
            color: $primary;
            font-size: 1.75rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.section--wedding-party {
    h5 {
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 1.5rem;

        span {
            display: block;
            font-family: $font-special;
            font-size: 1.5rem;
            font-weight: normal;
        }
    }

    li {
        font-size: 1.2rem;
    }
}

.section--timeline,
.section--accomodations {
    img {
        margin: 0 auto;
        border-radius: 100%;
    }

    h4 {
        margin: 1.5rem 0 0.5rem;
        font-size: 1.2rem;
    }
}

.section--timeline {
    h4 {
        margin-bottom: 0;
    }

    .location {
        margin-bottom: 0.5rem;
    }
}

.section--rsvp {

}
